{% extends "base.html" %}
{% block content %}
    </div>
    <h1> AAA testing </h1><br>
    <div class="row">

        <div>
            <p>
                <span style="color:black;font-weight:bold;size:B5">AAA testing with Python(Arrange-Act-Assert)- </span>
                It stands for arrange, act, assert. AAA is a way to structure your unit tests so they're easier to read,
                maintain, and enhance. Arrange/Act/Assert (AAA) is a pattern for arranging and formatting code in Unit
                Test methods. It is a best practice to author your tests in more natural and convenient way. The idea is
                to develop a unit test by following these 3 simple steps:
                * Arrange – setup the testing objects and prepare the prerequisites for your test.
                * Act – perform the actual work of the test.
                * Assert – verify the result.<br><br>

            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Benefits of Using Arrange Act Assert - </span><br>
                * Clearly separates what is being tested from the setup and verification steps.<br>
                * Clarifies and focuses attention on a historically successful and generally necessary set of test
                steps.<br>
                * Makes some test smells more obvious.<br>
                * Assertions intermixed with "Act" code.<br>
                * Test methods that try to test too many things at once.<br>
                <br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Arrange/Act/Assert with calculator project - </span>
                Explaination of AAA testing using calculator project:<br>
                There are three photos separated by a white line in this example. The next three photos are from the
                calculator project. The first image is declaring variables with constrcutors so that they can be used
                numerous times. The second image is carrying out the action assigned to the class, for example, the
                addition class is carrying out the addition action. The final graphic depicts asserting values and
                determining whether or not an action is valid.
                <br><br>
            </p>

        </div>
    </div>
{% endblock %}