{% extends "base.html" %}
{% block content %}
    </div>
    <h1> Pylint and Basics </h1><br>
    <div class="row">

        <div class="row">
            <p>
                <span style="color:black;font-weight:bold;size:B5">Instantiation - </span>The phrase "instantiating a
                class" means the same thing as "creating an object." When you create an object, you are creating an
                "instance" of a class, therefore "instantiating" a class.<br><br>
            </p>

            <div class="col-md-8">
                <p>
                    <span style="color:black;font-weight:bold;size:B5">Object - </span>An Object is an instance of a
                    Class.
                    A class is like a blueprint while an instance is a copy of the class with actual values. Python is
                    object-oriented programming language which stress on objects i.e., it mainly emphasizes on
                    functions.<br><br>
                </p>
            </div>

            <div class="col-md-4 ">
                <img src="../static/images/pylint.png" style="height:200px; width:450px"/>
            </div>

            <div class="col-md-8">
                <p>
                    <span style="color:black;font-weight:bold;size:B5">Class - </span>A class is a user-defined
                    blueprint or
                    prototype from which objects are created. Classes provide a means of bundling data and functionality
                    together. Creating a new class creates a new type of object, allowing new instances of that type to
                    be
                    made.<br><br>
                </p>
            </div>

            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Namespace - </span>Python implements namespaces as
                dictionaries. Imagine it as a name-to-object mapping where names are the keys and objects are the
                values. A namespace allows us to have unique names for each object. If you don't know, this is just a
                quick reminder to tell you that strings, lists, functions, etc.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Constructor - </span>A constructor is a special kind
                of method that Python calls when it instantiates an object using the definitions found in your
                class.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Fixture - </span>Fixtures define the steps and data
                that constitute the arrange phase of a test. In pytest, they are functions you define that serve this
                purpose.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Hint Python - </span>Type hinting is a formal
                solution to statically indicate the type of a value within your Python code.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Type Casting - </span>Type casting is a method used
                to change the variables/ values declared in a certain data type into a different data type to match the
                operation required to be performed by the code snippet.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Unit Test - </span>Unit Testing in Python. ... Unit
                testing is a software testing method by which individual units of source code are put under various
                tests to determine whether they are fit for use (Source). It determines and ascertains the quality of
                your code.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Static - </span>When we declare a variable inside a
                class but outside any method, it is called as class or static variable in python. Class or static
                variable can be referred through a class but not directly through an instance.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Class Method - </span>A class method is a method
                which is bound to the class and not the object of the class. They have the access to the state of the
                class as it takes a class parameter that points to the class and not the object instance. It can modify
                a class state that would apply across all the instances of the class.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Facade - </span>Facade is a structural design pattern
                that provides a simplified (but limited) interface to a complex system of classes, library or framework.
                While Facade decreases the overall complexity of the application, it also helps to move unwanted
                dependencies to one place.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Design Patterns - </span>Class Creational Pattern and
                the Object Creational pattern is the major categorization of the Creational Design Patterns. While
                class-creation patterns use inheritance effectively in the instantiation process, object-creation
                patterns use delegation effectively to get the job done.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Method - </span>Function in python is called as a
                called method Methods in python are very similar to functions except for two major differences. The
                method is implicitly used for an object for which it is called. The method is accessible to data that is
                contained within the class.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">Property - </span>The property () method in Python
                provides an interface to instance attributes. It encapsulates instance attributes and provides a
                property, same as Java and C#. The property () method takes the get, set and delete methods as arguments
                and returns an object of the property class.<br><br>
            </p>
            <p class="col-8">
                <span style="color:black;font-weight:bold;size:B5">FACTORY - </span>In factory pattern, objects are
                created without exposing the logic to client and referring to the newly created object using a common
                interface. Factory patterns are implemented in Python using factory method. ... The type of object used
                in factory method is determined by string which is passed through method..<br><br>
            </p>


        </div>
    </div>
{% endblock %}